
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  sans-serif;
}

body {
  background: rgb(30, 21, 41);
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #8585855e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(194, 194, 194, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(239, 239, 239, 0.7);
}

/*********** Sweet alert style ***********/
.swal2-popup{
  padding: 0 0 10px 0;
  border-radius: 3px;
  border: solid 1px #313338;
  background: #15151e;
  /* background: #1a1c20; */
}

.swal2-title{
  font-size: 1.2em !important;
  color: #fff;
  text-align: left;
  margin-left: 15px;
}

.swal2-html-container{
  color: #a8a8a8;
  font-size: 0.95em;
}

.swal2-input {
  border: solid 1px #25272b !important;
  outline: none !important;
  font-size: 0.85em;
  color: #e3e3e3;
  background: #25272b;
}

.swal2-input:focus {
  border: none;
  outline: none !important;
}

/*Buttons*/
.swal2-actions{
  width: 85%;
  justify-content: end;
}

.swal2-actions button{
  font-size: 0.8rem !important;
  border-radius: 2px !important;
  padding: 6px 15px;
}

.swal2-confirm {
  background: #018ad9 !important;
  color: #c0c0c0;
}

.swal2-cancel {
  background: #2a2d35 !important;
  color: #c0c0c0;
}