.chat-container{
    height: 100%;
}

/* CHAT SIDEBAR MENU*/
.chat-container .chat-menu{
    position:fixed; 
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: #232639ce;
    backdrop-filter: blur(4px);
    /*border-left: solid 1px #64657a;*/
    overflow-y: auto;
    transition: all 0.2s ease-out;
}

.chat-menu.chat-menu-disabled {
    visibility: hidden;
}

.chat-profile {
    width: 100%;
    padding: 20px 0;
    padding-top: 30px;
    margin: auto;
    text-align: center;
}

.chat-profile img{
    border-radius: 50%;
    margin-bottom: 10px;
    width: 120px;
    border: solid 3px #5869bd;
}

.chat-profile h3{
    color: #fff;
    font-weight: 100;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.chat-profile h4 {
    color: #999aa3;
    font-weight: 100;
    font-size: 0.9rem;
}

.chat-contacts {
    padding: 0 20px;
}

.chat-rooms .room-title {
    display: flex;
}

.chat-rooms .room-title span {
    color: #c8c8c8;
    cursor: pointer;
    font-size: 20px;
}

.chat-rooms .room-title span:hover {
    color: #ff0505;
}

.chat-members > h3,
.chat-rooms .room-title > h3{
    color: #b6b7c3;
    font-weight: lighter;
    font-size: 0.9rem;
    margin-bottom: 5px;
    margin-right: auto;
}

.chat-members .members-list{
    padding: 0 5px 0 0;
    max-height: 220px;
    width: 100%;
    overflow-y: auto;
    margin-bottom: 5px;
}

.chat-rooms .rooms-list{
    height: 220px;
    width: 100%;
    overflow-y: auto;
}

.rooms-list li {
    display: flex;
    gap: 5px;
    cursor: pointer;
    list-style: none;
    padding: 6px 0;
}

.rooms-list li:hover span{
    background: #999aa35f;
    border-radius: 4px;
}

.rooms-list li span {
    color: rgb(0, 234, 255);
    font-size: 15px;
    line-height: 14px;
}

.rooms-list li h2 {
    color: #fff;
    font-size: 15px;
    line-height: 14px;
    font-weight: lighter;
}

.member {
    display: flex;
    margin-bottom: 10px;
    background: rgba(100, 105, 128, 0.5);
    border-radius: 10px;
    padding: 5px 10px;
}

.member img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    border: solid 1px #24a2bf;
}

.member section h3{
    color: #fff;
    font-size: 0.9rem;
    font-weight: lighter;
}

.member section p{
    color: rgb(207, 207, 207);
    font-size: 0.8rem;
}

/* CHAT CONTENT */
.btn-sidebar-chat {
    position: fixed;
    top: 8px;
    right: 10px;
    font-size: 30px;
    color: rgb(200, 200, 200);
    cursor: pointer;
}

.principal-content{
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px);
    height: 100%;
    transition: all 0.4s ease;
}
.chat-menu.chat-menu-disabled ~ .principal-content{
    width: 100%;
}

/* CHAT NAVBAR */
.chat-status{
    width: 100%;
    display: flex;
    padding: 12px 20px;
    background: #232639;
}

.chat-status h3 {
    color: #d6d6d6;
    font-size: 1rem;
}

/* CHAT MESSAGES CONTENT */
.chat-message{
    width: 100%;
    height: 100%;
    padding: 0 10%;
    display: flex;
    overflow-y: auto;
}

.message-content {
    margin-top: auto;
    margin-bottom: 10;
    width: 100%;
}

/* MESSAGE */
.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    align-items: flex-start;
}

.message h3 {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 400;
}

.message span {
    color: rgb(187, 187, 187);
    font-weight: 500;
    font-size: 0.7em;
}

.message-text {
    margin: 5px 0 2px 0;
    width: 100%;
    display: flex;
}

.message .message-text p {
    max-width: 60%;
    padding: 8px 15px;
    border-radius: 0 15px 15px 10px;
    font-size: 1rem;
    color: #e7e7e7;
    background:rgb(29, 36, 55);
}

.message-owner {
    margin-left: auto;
    border-radius: 15px 0 10px 15px !important;
}

.background-owner {
    background:rgba(185, 35, 211, 1) !important;
}

/* CHAT FOOTER - INPUT*/
.chat-input{
    width: 100%;
    display: flex;
    background: #232639;
}

.chat-input .icon-option{
    width: 50px;
    color: #fff;
    text-align: center;
}

.chat-input .icon-option .icon{
    font-size: 25px;
    height: 50px;
}

.chat-input .input-container{
    display: flex;
    width: 100%;
    padding: 10px 20px 10px 0;
}

.input-container textarea{
    width: 100%;
    min-height: 40px;
    height: 40px;
    max-height: 110px;
    border-radius: 5px;
    padding: 10px 10px;
    background: #171a26;
    border: none;
    outline: none;
    color: #bcbdc4;
    font-size: 1rem;
    resize: none;
}

.input-container .btn-send{
    width: 50px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    color: rgb(195, 195, 195);
    background: none;
}

@media only screen and (max-width: 768px) {
    .principal-content{
        width: 100%;
    }
}

@media only screen and (max-width: 426px) {
    .chat-container .chat-menu{
        width: calc(100% - 50px);
        border-left: none;
    }
}