.chat-container{
    height: 100%;
}

/* CHAT SIDEBAR MENU*/
.chat-container .chat-menu{
    position:fixed; 
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: #232639ce;
    backdrop-filter: blur(4px);
    /*border-left: solid 1px #64657a;*/
    overflow-y: auto;
    transition: all 0.2s ease-out;
}

.chat-menu.chat-menu-disabled {
    visibility: hidden;
}

/* CHAT CONTENT */
.btn-sidebar-chat {
    position: fixed;
    top: 8px;
    right: 10px;
    font-size: 30px;
    color: rgb(200, 200, 200);
    cursor: pointer;
}

.principal-content{
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px);
    height: 100%;
    transition: all 0.4s ease;
}
.chat-menu.chat-menu-disabled ~ .principal-content{
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .principal-content{
        width: 100%;
    }
}

@media only screen and (max-width: 426px) {
    .chat-container .chat-menu{
        width: calc(100% - 50px);
        border-left: none;
    }
}