/* CHAT MESSAGES CONTENT */
.chat-message{
    width: 100%;
    height: 100%;
    padding: 10px 10%;
    display: flex;
    overflow-y: auto;
    background: #00000068;
}

.message-content {
    margin-top: auto;
    width: 100%;
}

/* MESSAGE DATE */
.msg-date-content{
    display: flex;
    justify-content: center;
}

.msg-date {
    background: #0000005f;
    margin-top: 10px;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 100;
}

/* MESSAGE */
.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message h3 {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 20px;
}

.message span {
    color: #dcdcdc;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 500;
    font-size: 0.7em;
}

.message-text {
    margin: 5px 0 2px 0;
    width: 100%;
    display: flex;
}

.message .message-text p {
    max-width: 60%;
    padding: 8px 15px;
    border-radius: 0 8px 8px 10px;
    font-size: 1rem;
    color: #ffffff;
    background:#343145;
}

.message .message-owner {
    margin-left: auto;
    border-radius: 8px 0 8px 8px !important;
}

.background-owner {
    background: #1a53fc!important;
    background: linear-gradient(90deg, rgba(52,133,253,1) 0%, rgba(26,83,252,1) 100%) !important;
}

@media only screen and (max-width: 768px) {
    .message .message-text p {
        max-width: 90%;
    }
}